.container {
    width: 600px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row | row-reverse | column | column-reverse; */
    /* flex-wrap: nowrap | wrap | wrap-reverse; */
    /* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly; */
    /* align-items: flex-start | flex-end | center | stretch | baseline; */
    /* align-content: flex-start | flex-end | center | stretch | space-between | space-around; */
}

.container div {
    width: 120px;
    height: 120px;
    background-color: rgb(19, 133, 255);
    float: left;
}

/* ORDER */
.satu { order: 3;}
.dua { order: 4;}
.tiga { order: 2;}
.empat { order: 1;}

/* FLEX-GROW / FLEX */
.satu {flex-grow: 1;}
.dua {flex-grow: 3;}
.tiga {flex-grow: 1;}
.empat {flex-grow: 1;}

/* ALIGN-SELF */
.item {
    /* align-self: auto | flex-start | flex-end | center | baseline | stretch; */
}